.cardkpi{
    height: 180px;
    width: 320px;               
    display: flex;                
    flex-direction: column;       
    border: 3px solid black;    
    border-radius: 15px;           
    overflow: hidden; 
    margin: 0.6rem;
    background-color: white;
}
  
.card-headerkpi {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 3px solid black;
    background-color: white;
    padding: 5px 10px;
}
  
.card-mainkpi {
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    padding: 15px 0;          
}
  
.material-iconskpi {
    margin-top: 1rem;
    height: 60px;
    width: 60px;  
    font-size: 36px;
    color: black;
    margin-bottom: 5px;
}

.material-iconbutton {
  margin-top: 1rem;
  height: 90px;
  width: 90px;  
  font-size: 36px;
  color: black;
  margin-bottom: 5px;
}
  
.main-descriptionkpi {
    margin-top: 0.6rem;
    margin-left: 0.39rem;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.button {
    height: 180px;
    width: 320px;  
    display: flex;               
    flex-direction: column;      
    border: 3px solid black;    
    border-radius: 15px;           
    overflow: hidden; 
    margin: 0.6rem;
    background-color: rgb(77, 154, 255);
    justify-content: center;    
    align-items: center;        
    padding: 15px 0;    
}

.button:active {
  border: 5px solid black;   
}


.new-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.new-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.new-table th,
.new-table td {
  padding: 12px 15px;
}

.new-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.new-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.new-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.new-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.container h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.config-container {
  display: inline-flex;
  width: 100%;
  text-align: center;
  
}

.config-container div {
  border-radius: 5px;
  width: 700px;
  border: 2px solid black;
  height: 250px;
  margin: 2.9rem ;
  background-color: white;

}

.config-container h3 {
  font-size: 30px;
  color: white;
  background-color: #009879;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  margin-bottom: 3.5rem;
}

.config-container div input {
  margin-top: 6em;
  margin-bottom: 7em;
  margin: 1rem;
}

.config-container div a {
  color: white;
  background-color: #009879;
  padding: 12px 55px;
  border-radius: 5px;
  width: 80px;
  text-decoration: none;
}

.config-container div a:hover {
  background-color: #62c7b3;
  transition: ease .25s;
  color: white;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.contbase {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "main main main main"
    "kpi1 kpi2 kpi3 kpi4";
  grid-gap: 0.2rem;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 1rem;
  background: rgb(255, 255, 255);
  border: 3px solid black;    
  border-radius: 15px; 
  width: 50%;
}

.kpi1 {
  grid-area: kpi1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.kpi2 {
  grid-area: kpi2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#kpi3 {
  grid-area: kpi3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#kpi4 {
  grid-area: kpi4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


@media only screen and (max-width: 550px) {
  .graph {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "main"
      "kpi1"
      "kpi2"
      "kpi3"
      "kpi4"
  }
}

