{% extends 'base.html' %}
{% block content %}

<head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}">
</head>
<body>
<div class="container">
    <h2>The last irrigation was at:</h2>    
    <table class="new-table table-config" id="myTable">
    <thead>
    <tr><th>Timestamp</th><th>Humidity</th><th>Liters Left</th></tr>
    </thead>
    <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i["timestamp"] }}</td>
                <td>{{ i["moisture"]*100 }}%</td>
                <td>{{ i["liters_left"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <form action="{{ url_for('advanced')}}" method="POST" enctype="multipart/form-data">
        <div class="config-container">
            <div>
                <h3>Pump Water Use</h3>
                <input type="text" id="pump_value" name=pump_value placeholder="{{ pump_use }}ml">
                <button name=pump_use value="pump_use">Update</button>
            </div>
            <div>
                <h3>Water Capacity</h3>
                <input type="text" id="water_value" name=water_value placeholder="{{ water_capacity }}l">
                <button name=water_capacity value="water_capacity">Update</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>
</body>
{% endblock %}